---
import "@/styles/globals.css"
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
---
<Layout title="Lotus - Your DotA Companion">
  <div class={cn("contentContainer w-full flex flex-col items-center")}>
    <div class={cn("h-[10dvh] w-full sticky top-0 backdrop-blur-xl")}></div>
    <main class={cn("h-[200dvh] w-[90dvw] relative -z-10 bg-gradient-to-b from-red-600 to-blue-600 rounded-3xl")}>
    </main>
  </div>
  <style>
  </style>
  <script src="../../lib/run_animations.ts"></script>
</Layout>