---
import "../../styles/globals.css";
import Layout from "../../layouts/Layout.astro";
import { cn } from "../../lib/utils";
import HeroGrid from "@/components/react/HeroGrid";
import { GET } from "../api/server/heroSecondaryImages"
await GET(Astro)
---
<Layout title="Lotus - Your DotA Companion">
  <div class={cn("contentContainer w-full flex flex-col items-center")}>
    <div class={cn("blurred h-[10dvh] w-full sticky top-0 backdrop-blur-xl z-50")}>
      <button class={cn("button")}>Click Me</button>
    </div>
    <main class={cn("my-24 flex flex-wrap justify-center relative")}>
      <HeroGrid context={Astro} client:only="react" />
    </main>
  </div>
  <style>
    main {
      width: 60dvw;
    }

    .blurred {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    .hero {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }

    .filterContent {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    .alias {
      font-size: 2rem;
      font-family: 'Satoshi', sans-serif;
    }

  </style>
  <script>
    import initializeLenisAndGSAP from "../../utils/initializeLenisAndGsap"
    import animateHeroCells from "@/lib/animations/animateHeroCells";
    import resetHeroCells from "@/lib/animations/resetHeroCells";

    // initializeLenisAndGSAP();

    // document.querySelector(".button")?.addEventListener("click", (e) => {
    //   e.preventDefault();
    //   resetHeroCells();
    // })

    // animateHeroCells();
  </script>
</Layout>