---
import "@/styles/globals.css"
import { GET } from "@/pages/api/grid";
import { GridGame } from "@/components/react/GridGame";
import type { GridEntry } from "@/components/react/Grid";
import { cn } from "@/lib/utils";

const response = await GET(Astro);
const responseBody = await response.json();
const gridEntries: GridEntry[] = responseBody.data;
---
<body class={cn("flex flex-col justify-center items-center min-h-screen bg-slate-800")}>
  <GridGame gridEntries={gridEntries} client:load />
</body>