---
import { cn } from "@/lib/utils";
import Heroes from "@/components/react/Heroes"
---
<html class={cn("p-0 m-0 box-border")}>
  <body class={cn("bg-red-400 overflow-x-hidden")}>
    <Heroes client:only="react" />
  </body>
</html>