---
import "@/styles/globals.css"
import TileGrid from "../components/astro/TileGrid.astro";
---
<body class="flex flex-col justify-center items-center min-h-screen bg-slate-800">
  <TileGrid />
</body>