---
import { cn } from "@/lib/utils";
import Cards from "@/components/react/Cards"
---
<html>
  <body class={cn("overflow-hidden")}>
    <main class={cn("overflow-auto")}>
      <Cards client:only />
    </main>
  </body>
</html>@/components/react/HeroesandItems@/components/react/Cards