---
import { ViewTransitions } from "astro:transitions"
import "@/styles/globals.css"
import { cn } from "@/lib/utils"
---
<html>
  <head>
    <!-- <ViewTransitions /> -->
    <script src="../lib/run_animations.ts"></script>
  </head>
  <body class={cn("bg-slate-900 overflow-x-hidden")}>
    <div class={cn("h-[150dvh] w-dvw flex justify-around items-center")}>
      <div class={cn("teal-box h-[40dvh] w-[40dvh] bg-teal-200")}></div>
      <div class={cn("violet-box h-[40dvh] w-[40dvh] bg-violet-200")}></div>
      <div class={cn("relative overflow-hidden")}>
        <div class={cn("loading-bar h-[40dvh] w-[5dvh] bg-pink-200 origin-top")}></div>
        <div class={cn("loading-text font-medium text-2xl text-red-700 absolute bottom-full right-1/2")}>0</div>
      </div>
    </div>
    <div class={cn("big-container h-[200dvh] w-dvw bg-zinc-600")}>
      <div class={cn("pinned-container h-dvh w-dvw bg-stone-700 flex flex-col items-center justify-between p-28")}>
        <div class={cn("container-item h-[20%] w-[20%] bg-red-900")}>
        </div>
        <div class={cn("container-item h-[20%] w-[20%] bg-red-900")}>
        </div>
        <div class={cn("container-item h-[20%] w-[20%] bg-red-900")}>
        </div>
      </div>
    </div>
    <div class={cn("spacer h-[700dvh] w-full bg-slate-800")}>
      <div class={cn("cont h-[200dvh] w-full bg-slate-800 flex flex-col items-center")}>
          <div class={cn("slide h-full w-full bg-emerald-800 flex justify-center items-center")}>
            <div class={cn("h-1/2 w-1/2 text text-7xl font-bold text-white flex justify-center")}>lol</div>
        </div>
      </div>
      <div class={cn("cont h-[200dvh] w-full bg-slate-800 flex flex-col items-center")}>
          <div class={cn("slide h-full w-full bg-pink-800 flex justify-center items-center")}>
            <div class={cn("h-1/2 w-1/2 text text-7xl font-bold text-white flex justify-center")}>lol</div>
          </div>
      </div>
      <div class={cn("cont h-[200dvh] w-full bg-slate-800 flex flex-col items-center")}>
          <div class={cn("slide h-full w-full bg-teal-800 flex justify-center items-center")}>
            <div class={cn("h-1/2 w-1/2 text text-7xl font-bold text-white flex justify-center")}>lol</div>
          </div>
      </div>
    </div>
    <style>
      .fadeOut {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100dvh;
        width: 100dvw;
        z-index: 9999;
        pointer-events: none;
        animation: fadeOut 2s ease-in forwards;
      }

      @keyframes fadeOut {
        from {
            background-color: rgba(0, 0, 0, 1);
        }
        to {
            background-color: rgba(0, 0, 0, 0);
        }
      }

    </style>
    <script>
      import { initLenisAndGSAP } from "@/lib/utils";
      initLenisAndGSAP();
    </script>
  </body>
</html>